<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SiteUrl" value="https://fagorarrasate365.sharepoint.com/sites/crm" />
    <add key="accountSiteUrl" value="/account" />
    <add key="opportunitySiteUrl" value="/opportunity" />
    <add key="incidentSiteUrl" value="/incident" />
    <add key="appointmentSiteUrl" value="/appointment" />
    <add key="IdUnidadNegocio" value="b2f0d7eb-3c54-e911-a847-000d3ab24119" />
    <add key="accountPathId" value="882a7274-4959-ea11-a811-000d3ab8d5b5" />
    <add key="opportunityPathId" value="6a627692-4959-ea11-a811-000d3ab8d5b5" />
    <add key="incidentPathId" value="c6c37ba4-4959-ea11-a811-000d3ab8d5b5" />
    <add key="appointmentPathId" value="26406986-4959-ea11-a811-000d3ab8d5b5" />
    <add key="quoteGroupEditId" value="23" />
    <add key="quoteGroupReadId" value="22" />
    <add key="quotedetailGroupEditId" value ="25" />
    <add key="quotedetailGroupReadId" value ="24" />
    <add key="incidentGroupEditId" value ="29" />
    <add key="incidentGroupReadId" value ="28" />
    <add key="opportunityGroupEditId" value ="21" />
    <add key="opportunityGroupReadId" value ="20" />
    <add key="accountGroupEditId" value ="19" />
    <add key="accountGroupReadId" value ="18" />
    <add key="appointmentGroupEditId" value ="27" />
    <add key="appointmentGroupReadId" value ="26" />
    <add key="ClientId" value="0cf0f230-de1e-4cbd-921a-7af2979cd653" />
    <add key="ClientSecret" value="V~.~~tu3WW2SwI0x6bOqm-E.Z1fN_.hoQY" />
    <add key="ResourceId" value="00000003-0000-0ff1-ce00-000000000000" />
    <add key="TenantId" value="e06d5e44-ef0c-4dad-851c-4d4cf723f86f" />
    <add key="Domain" value="fagorarrasate365.sharepoint.com" />
    <add key="GrantType" value="client_credentials" />
    <add key="ConnectionStringCRM" value="AuthType=Office365;Username=dynamicsadmin@fagorarrasate.com; Password=dy1313nm;Url=https://crmfagor.crm4.dynamics.com" />
    <add key="ConfigList" value="M - Configuración" />
    <add key="BaseTemplate" value="STS#0" />
    <add key="DefaultLanguage" value="1033" />
    <add key="SPEntityAccount" value="SP.Data.AccountListItem"/>
    <add key="SPEntityOpportunity" value="SP.Data.OpportunityListItem"/>
    <add key="SPEntityIncident" value="SP.Data.IncidentListItem"/>
    <add key="SPEntityAppointment" value="SP.Data.AppointmentListItem"/>
    <add key="SPEntityQuote" value="SP.Data.QuoteListItem"/>
    <add key="SPEntityQuotedetail" value="SP.Data.QuotedetailListItem"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>